@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="@Url.Action("Index", "Scheduler")">scheduling your life with my ASP.NET Core MVP app!</a>.</p>
    <img src="did-not-click.jpg" alt="" />
</div>
