@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque maximus semper augue, et facilisis nisi placerat in. In tincidunt ligula non ex feugiat mattis. Morbi et ultrices turpis, feugiat auctor lacus. Maecenas eu imperdiet tellus. Praesent gravida lectus eget vestibulum egestas. Mauris placerat dictum luctus. Integer a mauris finibus ex sollicitudin volutpat. Suspendisse nec efficitur libero, sit amet rhoncus leo. Cras sit amet vehicula mauris. Morbi sit amet justo vitae elit laoreet ullamcorper ac ac erat. Mauris sed neque sed purus euismod vehicula et ac urna. Etiam turpis massa, porttitor at urna non, blandit venenatis eros. Maecenas volutpat leo ut neque maximus, non ornare sem commodo. Phasellus arcu ex, mattis pretium ex a, aliquet faucibus libero. Donec id placerat mi. Morbi molestie est ut mi pharetra feugiat.</p>